<html>
	<body>
		Hello, {{ user_name }} <br>
		<hr>
		
			{% if searchResults %}
				<font color="#009900">Search results for <b>"{{ keywords }}"</b> </font> <br/><br/>
				
				<table border="1">
					<tr>
						<th>Item name</th>
						<th>Category</th>
						<th>User</th>
					</tr>
					{% for searchResult in searchResults %}
						<tr>
							<td>{{ searchResult }}</td>
							<td>{{ searchResults.get(searchResult).get('category') }}</td>
							<td>{{ searchResults.get(searchResult).get('author') }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			
			{% if error_msg %}
				<font color="red">{{ error_msg }}</font>
			{% endif %}
		
			<br/><br/>
			<form method="post" action="/search">
				Enter keywords:<br/>  <input type="text" name="keywords" value="{{ keywords }}" /><br/>
				<input type="hidden" id="task_name" name="task_name" value="search_items" /> <input type="submit" value="Search" /> <br/>				
			</form>
			
			<br/><br/>
			<form method="post" action="{{ back_url }}">
				<input type="submit" value="<< Back" /> <input type="button" value="Home" onclick="location.href='{{ home_url }}'"/>
			</form>
			
			<hr>
			<a href="{{ url }}">{{ url_linktext }}</a>
	</body>
</html>
