<html>
	<head>
		<script type="text/javascript">
			function skipVote() {
				alert("in skip")
			}
		</script>
	</head>
	<body>
		<h2><font color="#EE7700">Hello, {{ user_name }}</font></h2> <br>
		<hr>
		Selected user: <b>{{ selected_user }}</b> <br/>
		Selected category: <b>{{category_name}}</b> <br/><br/>
		
		{% if error_msg %}
			<font color="red">{{ error_msg }}</font>
		{% else %}
			
			{% if votedFor %}
				<font color="#00AA00">You voted for "{{ votedFor }}" over "{{ votedAgainst }}" </font>
				<br/><br/>
				Total votes:
				<br/>
				{{ votedFor }} : {{ votedFor_votes }}
				<br/>
				{{ votedAgainst }} : {{ votedAgainst_votes }}
				<br/>
				<hr>
			{% endif %}
			
			<font color="#0000AA">Cast your vote:</font> <br/><br/>
			
			<form method="post" action="/vote">
				<input type="radio" name="item_to_vote" value="1" checked="checked"> {{itemsToVote[0]}} </input> <br/>
				<input type="radio" name="item_to_vote" value="2"> {{itemsToVote[1]}} </input> <br/>
			
				<input type="hidden" name="cast_vote" />
				<input type="hidden" name="category_name" value="{{ category_name }}" /> <br/>
				<input type="hidden" name="selected_user" value="{{ selected_user }}" />
			
				<input type="hidden" name="item1" value="{{itemsToVote[0]}}" />
				<input type="hidden" name="item2" value="{{itemsToVote[1]}}" />			
				<input type="hidden" name="task_name" id="task_name" value="cast_vote" />
				
				<input type="submit" value="Vote"/> 				
			</form>
			<form method="post" action="/vote">
				<input type="hidden" name="task_name" id="task_name" value="vote_category" />				
				<input type="hidden" name="selected_user" value="{{ selected_user }}" /> 
				<input type="hidden" name="category_name" value="{{ category_name }}" /> <br/>
				<input type="submit" value="Skip >>" />
			</form>
		{% endif %}
		
		<br/><br/>
		<form method="post" action="/vote">
			<input type="hidden" name="task_name" value="choose_category" />
			<input type="hidden" name="category_name" value="{{ category_name }}" />
			<input type="hidden" name="author_name" value="{{ selected_user }}" />
			<input type="hidden" name="selected_user" value="{{ selected_user }}" />
			<input type="submit" value="<< Back" /> <input type="button" value="Home" onclick="location.href='{{ home_url }}'"/>
		</form>
		
		<hr>
		<a href="{{ url }}">{{ url_linktext }}</a>
	</body>
</html>
